<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CMS 3.0 Backend</title>
    <meta name="description" content="Our Public Project">
    <meta name="author" content="">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel='stylesheet' href='/css/backend/main.css' />
    <script data-main="js/backend/Main" src="components/requirejs/require.js"></script>
</head>
<body>
<%- body %>
</body>
</html>