<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Please select text input mode.
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="row">
                    <div class="col-md-6 col-centered">
                        <img src="/images/backend/glyphicons_341_briefcase@2x.png" ng-mousedown="$hide()">
                    </div>
                    <div class="col-md-6 col-centered">
                        <img src="/images/backend/glyphicons_103_text_underline@2x.png" ng-mousedown="$hide()">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-info" ng-mousedown="$hide()">Pick</button>-->
                <button type="button" class="btn btn-danger" ng-mousedown="$hide();ShowComponent();">Calcel</button>
            </div>
        </div>
    </div>
</div>