<div class="headbarbackend">
    <div class="pull-left textheaderbackend" style="margin: 2px;">
        CMS 3.0 Public Software Project (v 0.0.1)
    </div>
    <div class="pull-right" style="margin: 2px;">
        <div class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Save</div>
        <div class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> Publish</div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="btn-group-vertical" style="position: absolute ; z-index: 1">
    <button type="button" bs-tooltip data-title="Component Select" class="btn btn-lg btn-warning" data-template="/views/backend/partial/component.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">
        <span class="glyphicon glyphicon-download-alt" ></span>
    </button>
    <button type="button" class="btn btn-lg btn-info" data-template="/views/backend/partial/page.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">
        <span class="glyphicon glyphicon-list-alt" ></span>
    </button>
    <button type="button" class="btn btn-lg btn-danger" data-template="/views/backend/partial/setting.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">
        <span class="glyphicon glyphicon-cog" ></span>
    </button>
</div>