<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Page Setting</h4>
            </div>
            <div class="aside-body" ng-show="content">

            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-info" ng-click="$hide()">Add new page</button>
                <button type="button" class="btn btn-success" ng-click="$hide()">Edit page</button>
                <button type="button" class="btn btn-danger" ng-click="$hide()" style="margin-left: 10px;">Delete page</button>
            </div>
        </div>
    </div>
</div>